.mycard
  z-index: 0
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.7)
  color: bisque
  border-radius: 15px


.cont
  padding-top: 30px
  width: 80%
  margin: auto
  display: flex
  flex-wrap: wrap
  align-items: stretch
  align-content: flex-start
  justify-content: space-evenly
  gap: 20px 20px

.item
  flex: 3
  max-width: 400px

.carddescrip
  margin: 10px 0px

img
  max-width: 300px
  width: auto
  border: 0
  margin: auto
  background-image: url("http://localhost:1337/uploads/medium_tapai3_35a176febf.jpg")
.chip
  display: inline-block
  padding: 0 25px
  height: 50px
  font-size: 16px
  line-height: 50px
  border-radius: 25px
.chipcont
  height: 15%
  display: flex
  align-items: flex-end
  padding: 20px 0
.cardcont
  height: 85%
.hide
  display: none

/*unatkozom*/


