.card
  z-index: 0
  height: 100%

.cont
  padding: 30px
  width: 70%
  margin: auto
  display: flex
  flex-wrap: wrap
  align-items: stretch
  align-content: flex-start
  justify-content: space-evenly
  gap: 20px 20px

.item
  flex: 1 0 350px

.bord
  display: inline-block
  height: 300px
  position: relative


img
  max-height: 300px
  width: auto
  height: auto
  border: 0
  margin: auto
