.body
  display: flex
  flex-wrap: nowrap
  align-items: stretch
  align-content: flex-start
  justify-content: space-evenly
  padding: 0 30px
.mycard
  z-index: 0
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.5)
  color: bisque
  border-radius: 15px


.cont
  width: 50%
  margin: auto
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: stretch
  align-content: flex-start
  justify-content: space-evenly
  margin-top: 0
  padding: 30px 10px
.carddescrip
  margin: 10px 0px

.chip
  display: inline-block
  padding: 0 25px
  height: 50px
  font-size: 16px
  line-height: 50px
  border-radius: 25px
.chipcont
  height: 15%
  display: flex
  align-items: flex-end
  padding: 20px 0
.cardcont
  height: 85%

.hide
  display: none

.hidePic
  display: none
.bord
  display: flex
  max-width: 90%
  margin: 10px auto
  flex-direction: row
  flex-wrap: nowrap
  align-content: space-between
  justify-content: space-around
  align-items: center
.modal
  display: flex
  align-items: center
  background-color: rgba(0,0,0,0.6)
  color: bisque

.img
  //max-width: 150px
  height: 100px
  border-radius: 15px
  margin: 20px 0
  margin-right: 20px

.more
  background: none
  border: #b0bec5 0
.img:hover
  height: 120px

.modalimg
  max-height: 900px
  max-width: 80%
  height: auto
  border-radius: 15px
@media only screen and (max-height: 876px)
  .modalimg
    max-height: 600px

.btn-danger
  margin-left: auto

.item
  flex: 0 0 100%
  margin: 20px 0
@media only screen and (max-width: 1200px)
  .bigview
    display: none
  .hide
    display: block
  .smallview
    width: 100%

