<div *ngIf="!nodata" class="cont">
  <div *ngFor="let data of mydata; index as i" class="item">
    <mat-card class="mycard" [ngClass]="colorservice.getColor(true)">
      <mat-card-content class="cardcont">
        <mat-card-title>{{data.title}}</mat-card-title>

        <div class="bord">
            <img class="img" [src]="getpic(data.pictures)">
          </div>
        <p class="carddescrip">
          {{data.description}}
        </p>

      </mat-card-content>
      <div class="chipcont">
        <div class="chip" [ngClass]="colorservice.getColor()">
          {{data.category}}
        </div>
      </div>
    </mat-card>
  </div>
</div>

