.navbar
  display: flex
  flex-wrap: wrap
  background-color: cadetblue

.navitem
  color: black
  font-size: 1.5rem
  padding: 1.5rem
  text-align: center
.navitem:hover
  background-color: aquamarine
