<div>
  <div class="imgpic">
    <img [src]="matslider.value>20 ? '../../assets/img/tophot.jpg' : '../../assets/img/topcold.jpg'" #toppic id="top" style="width: 100%">
    <div class="navibar" (scroll)="onscroll()" [ngClass]="navbarfixed?['fixed',colorService.getColor()]:['nofixed',colorService.getColor()]">
      <button class="navitoggler" (click)="toggleNavbar()" type="button">
        <img src="../../assets/img/logofel.png" height="87px">
      </button>

      <div class="navibaritem" routerLink="">
        <div [ngStyle]="{'background-color': getColor(5)+getOppacity(matslider.value,5)+')'}" class="focus">
          <img src="../../assets/img/logofel.png" height="57px" style="margin: auto 0;padding: 0!important;" routerLink="">
        </div>
      </div>
      <div *ngIf="LINKS?.[0]?.url=='/page1'" class="navibaritem" routerLink="page1">
        <div [ngStyle]="{'background-color': getColor(0)+getOppacity(matslider.value,0)+')'}" class="focus">
          {{LINKS?.[0]?.title}}
        </div>
      </div>
      <div *ngIf="LINKS?.[1]?.url=='/page2'" class="navibaritem" routerLink="page2">
        <div [ngStyle]="{'background-color': getColor(0)+getOppacity(matslider.value,7)+')'}" class="focus">
          {{LINKS?.[1]?.title}}
        </div>
      </div>

      <div class="navibaritem" routerLink="munkak" (click)="selectMunka(1)">
        <div [ngStyle]="{'background-color': getColor(6)+getOppacity(matslider.value,6)+')'}" class="focus">
          Hőszivattyú
        </div>
      </div>
      <div class="navibaritem" routerLink="munkak" (click)="selectMunka(2)">
        <div [ngStyle]="{'background-color': getColor(2)+getOppacity(matslider.value,2)+')'}" class="focus">
          Klímatechnika
        </div>
      </div>
      <div class="navibaritem" routerLink="munkak" (click)="selectMunka(3)">
        <div [ngStyle]="{'background-color': getColor(1)+getOppacity(matslider.value,1)+')'}" class="focus">
          Hűtéstechnika
        </div>
      </div>

      <div class="navibaritem" routerLink="kapcsolat">
        <div [ngStyle]="{'background-color': getColor(4)+getOppacity(matslider.value,4)+')'}" class="focus">
          Kapcsolat
        </div>
      </div>
      <div [ngClass]="navbarOpen?['rollbarshow',colorService.getColor()]:'rollbar'">
        <div [ngClass]="colorService.getColor()" class="rollbaritem" routerLink="">Főoldal</div>
        <div [ngClass]="colorService.getColor()"
             (click)="i==0||i==4?'':selectMunka(i)"
             class="rollbaritem"
             routerLink="{{nav.url}}"
             *ngFor="let nav of LINKS, index as i">
          {{nav.title}}
        </div>
      </div>
      <img  (click)="clima()" src="../../assets/img/klima.png" height="87px" style="padding: 0!important; margin-left: auto;">
      <p (click)="clima()" class="homero">{{matslider.value}}</p>
      <img (click)="changeMode()" [src]="'../../assets/img/' + acmode" class="mode">
      <mat-slider (click)="clima()" [ngClass]="klima?'showac':'hideac'" #matslider (input)="setColor(matslider.value)" min="12" max="34" step="1" value="23"></mat-slider>
    </div>
  </div>


</div>
