<div>
  <div class="imgpic">
    <img [src]="matslider.value>20 ? '../../assets/img/tophot.jpg' : '../../assets/img/topcold.jpg'" #toppic id="top" style="width: 100%">
    <div class="navibar" (scroll)="onscroll()" [ngClass]="navbarfixed?['fixed',colorService.getColor()]:['nofixed',colorService.getColor()]">
      <button class="navitoggler" (click)="toggleNavbar()" type="button">
        <img src="../../assets/img/logofel.png" height="87px">
      </button>
      <img [ngStyle]="{'background-color': getColor(5)+getOppacity(matslider.value,5)+')'}" src="../../assets/img/logofel.png" class="navibaritem" height="87px" style="padding: 0!important;" routerLink="">
      <div class="navibaritem" routerLink="energetikai">
        <div [ngStyle]="{'background-color': getColor(0)+getOppacity(matslider.value,0)+')'}" class="focus">
          Energetikai Tanusítás
        </div>
      </div>

      <div class="navibaritem" #munka routerLink="munkak">
        <div [ngStyle]="{'background-color': getColor(6)+getOppacity(matslider.value,6)+')'}"
             style="padding: 0"
             class="focus">
          <mat-form-field appearance="legacy"
                          style="margin: 0 10px!important; padding: 0!important; height: 40px!important;"
                          class="munkadropdown">
            <mat-select [(value)]="selected" class="munkadropdown" style="background: none!important;">
              <mat-option class="munkaItem" (click)="selectMunka(0)" value="option1">Munkáim</mat-option>
              <mat-option  class="munkaItem"  (click)="selectMunka(1)" value="option2">Hőszivattyú</mat-option>
              <mat-option
                class="munkaItem"
                (click)="selectMunka(2)"
                value="option3"
                [ngStyle]="{'background-color': getColor(2)+getOppacity(matslider.value,2)+')'}">
                Klímatechnika</mat-option>
              <mat-option
                class="munkaItem"
                (click)="selectMunka(3)"
                [ngStyle]="{'background-color': getColor(1)+getOppacity(matslider.value,1)+')'}"
                value="option4">Hűtéstechnika</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>



      <div class="navibaritem" routerLink="kapcsolat">
        <div [ngStyle]="{'background-color': getColor(4)+getOppacity(matslider.value,4)+')'}" class="focus">
          Kapcsolat
        </div>
      </div>
      <div [ngClass]="navbarOpen?['rollbarshow',colorService.getColor()]:'rollbar'">
        <div [ngClass]="colorService.getColor()" class="rollbaritem" routerLink="">Főoldal</div>
        <div [ngClass]="colorService.getColor()"
             (click)="i==0||i==4?'':selectMunka(i)"
             class="rollbaritem"
             routerLink="{{nav.url}}"
             *ngFor="let nav of LINKS, index as i">
          {{nav.title}}
        </div>
      </div>
      <img  (click)="clima()" src="../../assets/img/klima.png" height="87px" style="padding: 0!important; margin-left: auto;">
      <p (click)="clima()" class="homero">{{matslider.value}}</p>
      <img (click)="changeMode()" [src]="'../../assets/img/' + acmode" class="mode">

      <mat-slider (click)="clima()" [ngClass]="klima?'showac':'hideac'" #matslider (input)="setColor(matslider.value)" min="12" max="34" step="1" value="23"></mat-slider>
    </div>
  </div>


</div>
