<div [ngClass]="colorService.getColor()">
  <div class="imgpic">
    <img [src]="matslider.value>20 ? '../../assets/img/tophot.jpg' : '../../assets/img/topcold.jpg'" (click)="alttogle()" #toppic id="top" style="width: 100%">
    <div class="navibar" (scroll)="onscroll()" [ngClass]="navbarfixed?['fixed',colorService.getColor()]:['nofixed',colorService.getColor()]">
      <button class="navitoggler" (click)="toggleNavbar()" type="button">
        <img src="../../assets/img/logofel.png" height="87px">
      </button>
      <img src="../../assets/img/logofel.png" class="navibaritem" height="87px" style="padding: 0!important;" routerLink="">
      <div class="navibaritem" routerLink="{{nav.url}}" *ngFor="let nav of LINKS">{{nav.title}}</div>
      <div [ngClass]="navbarOpen?['rollbarshow',colorService.getColor()]:'rollbar'">
        <div [ngClass]="colorService.getColor()" class="rollbaritem" routerLink="">Főoldal</div>
        <div [ngClass]="colorService.getColor()" class="rollbaritem" routerLink="{{nav.url}}" *ngFor="let nav of LINKS">{{nav.title}}</div>
      </div>
      <img  (click)="clima()" src="../../assets/img/klima.png" height="87px" style="padding: 0!important; margin-left: auto;">
      <p (click)="clima()" class="homero">{{matslider.value}}</p>
      <mat-slider [ngClass]="klima?'showac':'hideac'" #matslider (input)="setColor(matslider.value)" min="12" max="34" step="1" value="19"></mat-slider>
    </div>
  </div>

  <div class="main" (click)="alttogle()" [ngStyle]="{'background-image':getbg(matslider.value)}">
    <router-outlet></router-outlet>
  </div>
</div>
