.imgpic
  position: relative
.navibar
  width: 100%
  display: flex
  flex-wrap: nowrap
  align-content: center
  align-items: stretch
  border-radius: 15px
  z-index: 4
  background-image: url("../../assets/img/navbg.jpg")
  background-blend-mode: screen

.munkadropdown
  background: none

.mode
  position: relative
  left: -191px
  top: 20px
  height: 40px

.homero
  position: relative
  left: -195px
  top: 25px
  color: blue
  $value: ()
  @for $i from 1 through 4
    $num: $i * 2 + px
    $theShadow:0 0 $num cadetblue
    $value: append($value, $theShadow, comma)


  text-shadow: $value

.munkaItem
  background-color: rgba(0,0,0,0.3)

.navibaritem
  color: white
  font-size: 1.5rem
  padding: 0
  text-align: center
  border-radius: 15px
  display: flex

.navibaritem:hover
  background-color: rgba(255, 255, 255, 0.5)!important
@media only screen and (min-width: 1295px)
  .fixed
    position: fixed
    top: 0px
    border-radius: 0px

  .nofixed
    position: absolute
    top: 30%
    left: 2%
    width: 96%

  .main
    padding: 20px 0

.navitoggler
  display: none
  background: none
  border: none
.rollbar
  display: none
.rollbarshow
  position: fixed
  top: 89px
  display: flex
  flex-flow: column
  align-content: flex-start
.rollbaritem
  flex: 12
  color: bisque
  font-size: 1.5rem
  padding: 1.5rem
  text-align: center
.rollbaritem:hover
  background-color: rgba(255, 255, 255, 0.5)!important
@media only screen and (max-width: 1294px)
  #top
    display: none
  .navibar
    width: 100%
    position: fixed
    top: 0
    justify-content: flex-start
    border-radius: 0
  .navibaritem
    display: none
  .navitoggler
    display: block
  .main
    padding-top: 89px

.showac
  position: absolute
  top: 20px
  right: 66px
  color: cadetblue

.hideac
  display: none

.main
  background-size: cover
.focus
  align-self: stretch
  padding: 0 7px
  border-radius: 15px
  display: flex
  align-content: center
  justify-content: center
  align-items: center

@media only screen and (max-width: 427px)
  .showac
    position: fixed
    left: 235px
    right: unset
